<p>&nbsp;</p>
<h3> Request a ride </h3>

<p>&nbsp;</p>
<h4>Choose guardians</h4>
{{input type="checkbox" checked="checked" name="guardian"}} Guardian 1
&nbsp;&nbsp;&nbsp;&nbsp;{{input type="checkbox" name="guardian"}} Guardian 2
&nbsp;&nbsp;&nbsp;&nbsp;{{input type="checkbox" name="guardian"}} Guardian 3

<p>&nbsp;</p>

<label>Choose a date:</label> {{bootstrap-datepicker autoclose=true orientation="right" class="form-control reg-input-field"}}	<br/><br/>
<label>Enter time:</label> 	
	{{#x-select action="" as |xs|}}
		{{#xs.option value=00}} 00 {{/xs.option}}
		{{#xs.option value=01}} 01 {{/xs.option}}
		{{#xs.option value=02}} 02 {{/xs.option}}
		{{#xs.option value=03}} 03 {{/xs.option}} 
		{{#xs.option value=04}} 04 {{/xs.option}} 
		{{#xs.option value=05}} 05 {{/xs.option}}
		{{#xs.option value=06}} 06 {{/xs.option}}
		{{#xs.option value=07}} 07 {{/xs.option}}
		{{#xs.option value=08}} 08 {{/xs.option}}
		{{#xs.option value=09}} 09 {{/xs.option}}
		{{#xs.option value=10}} 10 {{/xs.option}}
		{{#xs.option value=11}} 11 {{/xs.option}}
	{{/x-select}}		

	{{#x-select action="" as |xs|}}
		{{#xs.option value=0}} 00 {{/xs.option}}
		{{#xs.option value=01}} 01 {{/xs.option}}
		{{#xs.option value=02}} 02 {{/xs.option}}
		{{#xs.option value=03}} 03 {{/xs.option}}
		{{#xs.option value=04}} 04 {{/xs.option}}
		{{#xs.option value=05}} 05 {{/xs.option}}
		{{#xs.option value=06}} 06 {{/xs.option}}
		{{#xs.option value=07}} 07 {{/xs.option}}
		{{#xs.option value=08}} 08 {{/xs.option}}
		{{#xs.option value=09}} 09 {{/xs.option}}
		{{#xs.option value=10}} 10 {{/xs.option}}
		{{#xs.option value=11}} 11 {{/xs.option}}
		{{#xs.option value=12}} 12 {{/xs.option}}
		{{#xs.option value=13}} 13 {{/xs.option}}
		{{#xs.option value=14}} 14 {{/xs.option}}
		{{#xs.option value=15}} 15 {{/xs.option}}
		{{#xs.option value=16}} 16 {{/xs.option}}
		{{#xs.option value=17}} 17 {{/xs.option}}
		{{#xs.option value=18}} 18 {{/xs.option}}
		{{#xs.option value=19}} 19 {{/xs.option}}
		{{#xs.option value=20}} 20 {{/xs.option}}
		{{#xs.option value=21}} 21 {{/xs.option}}
		{{#xs.option value=22}} 22 {{/xs.option}}
		{{#xs.option value=23}} 23 {{/xs.option}}
		{{#xs.option value=24}} 24 {{/xs.option}}
		{{#xs.option value=25}} 25 {{/xs.option}}
		{{#xs.option value=26}} 26 {{/xs.option}}
		{{#xs.option value=27}} 27 {{/xs.option}}
		{{#xs.option value=28}} 28 {{/xs.option}}
		{{#xs.option value=29}} 29 {{/xs.option}}
		{{#xs.option value=30}} 30 {{/xs.option}}
		{{#xs.option value=31}} 31 {{/xs.option}}
		{{#xs.option value=32}} 32 {{/xs.option}}
		{{#xs.option value=33}} 33 {{/xs.option}}
		{{#xs.option value=44}} 34 {{/xs.option}}
		{{#xs.option value=35}} 35 {{/xs.option}}
		{{#xs.option value=36}} 36 {{/xs.option}}
		{{#xs.option value=37}} 37 {{/xs.option}}
		{{#xs.option value=38}} 38 {{/xs.option}}
		{{#xs.option value=39}} 39 {{/xs.option}}
		{{#xs.option value=40}} 40 {{/xs.option}}
		{{#xs.option value=41}} 41 {{/xs.option}}
		{{#xs.option value=42}} 42 {{/xs.option}}
		{{#xs.option value=43}} 43 {{/xs.option}}
		{{#xs.option value=44}} 44 {{/xs.option}}
		{{#xs.option value=45}} 45 {{/xs.option}}
		{{#xs.option value=46}} 46 {{/xs.option}}
		{{#xs.option value=47}}  47 {{/xs.option}}
		{{#xs.option value=48}} 48 {{/xs.option}}
		{{#xs.option value=49}} 49 {{/xs.option}}
		{{#xs.option value=50}} 50 {{/xs.option}}
		{{#xs.option value=51}} 51 {{/xs.option}}
		{{#xs.option value=52}} 52 {{/xs.option}}
		{{#xs.option value=53}} 53 {{/xs.option}}
		{{#xs.option value=54}} 54 {{/xs.option}}
		{{#xs.option value=55}} 55 {{/xs.option}}
		{{#xs.option value=56}} 56 {{/xs.option}}
		{{#xs.option value=57}} 57 {{/xs.option}}
		{{#xs.option value=58}} 58 {{/xs.option}}
		{{#xs.option value=59}} 59 {{/xs.option}}
		{{#xs.option value=60}} 60 {{/xs.option}}
	{{/x-select}}	

	{{#x-select action="" as |xs|}}
		{{#xs.option value=00}} AM {{/xs.option}}
		{{#xs.option value=01}} PM {{/xs.option}}
	{{/x-select}}		

<br/><br/>
<label>Pickup location:</label>
	{{input type="text" value="" placeholder="Enter pickup location" class="form-control"}}
	

<br/><br/>
<label>Dropoff location:</label>
	{{input type="text" value="" placeholder="Enter dropoff location" class="form-control"}}

<br/>
<div class="right">
	<button class="btn btn-success">Send request to the guardian</button>
</div>


{{yield}}
