<div class="container">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<img src="https://green.uw.edu/sites/default/files/snapshot/i405_TDM_icon_vanpool4.gif" class="img-fluid" alt="poiesis-carpooling" width="200" height="200"/>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<h1>Poiesis - Enjoy carpooling!</h1>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			&nbsp;
		</div>
	</div>
	<div class="row">&nbsp;</div>
	<div class="row ">
						<div class="col-sm-12 col-md-10 col-md-offset-1">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="glyphicon glyphicon-user"></i>
									</span>
									{{input type="text" class="input-sm form-control" value=auth.username enter="login" placeholder="Username" autofocus="autofocus"}}
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="glyphicon glyphicon-lock"></i>
									</span>
									{{input type="text" class="input-sm form-control" value=auth.password enter="login" placeholder="Password" type="password"}}
								</div>
							</div>
							<label class="checkbox">
								{{input type="checkbox" checked=auth.remember}}
								Remember me
							</label>
							<div class="form-group">
								<input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in" {{action "login"}}>
							</div>
							Need an account? {{#link-to "register"}}Register Now.{{/link-to}}
						</div>
					</div>
	</div>

					

{{yield}}
