
<div class='row well'>
    <div class='col-md-3'>{{ride.date}}</div>
    <div class='col-md-3'>{{ride.time}}</div>
    <div class='col-md-3'>{{ride.pickup}}</div>
    <div class='col-md-3'>{{ride.dropoff}}</div>
    <div class='col-md-3'>{{ride.requestedBy}}</div>
</div>
{{yield}}
