
<div class="row" style="margin-top:20px;">
    <div class='col-md-2' style="margin-right: 25px;">{{moment-format ride.date 'MM/DD/YYYY' 'MM-DD-YYYY'}}</div>   
    <div class='col-md-2' style="margin-right: 25px;">{{ride.time}}</div>
    <div class='col-md-2' style="margin-right: 25px;">{{ride.pickup}}</div>
    <div class='col-md-2' style="margin-right: 25px;">{{ride.dropoff}}</div>
    <div class='col-md-2'>{{ride.status}}</div>
</div>
    
{{yield}}
