<div class="jumbotron jumbotron-fluid">
	<h2>Upcoming rides</h2>
	<table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Pickup location</th>
        <th>Dropoff location</th>
        <th>Driver</th>
        <th>Cancel Request</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{date}}</td>
        <td>{{time}}</td>
        <td>{{pLocation}}</td>
        <td>{{dLocation}}</td>
        <td>{{driver}}</td>
        <td><button {{action 'cancelRequest'}} class="btn btn-block btn-danger">Cancel</button></td>
      </tr>
    </tbody>
  </table>
</div>