<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
		{{kids-menu}}
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<div class='row well well-lg'>
			<h3>Confirmed rides</h3>
			<div class='row well'>
				{{ride-header-confirmed}}
				{{#each model as |requestedRide| }}
					{{#if (eq requestedRide.status 'confirmed')}}
						<div class='col-lg-11 col-md-11 col-sm-11 col-xs-11'>
							{{ride-display-confirmed ride=requestedRide}}
						</div>
					{{/if}}
				{{/each}}
			</div>
		</div>
		<div class='row well well-lg'>
			<h3>Pending requests</h3>
			<div class='row well'>
				{{ride-header}}
				{{#each model as |requestedRide|}}
					{{#if (eq requestedRide.status 'pending')}}
						<div class='col-lg-11 col-md-11 col-sm-11 col-xs-11'>
							{{ride-display ride=requestedRide}}
						</div>
					{{/if}}
				{{/each}}
			</div>
		</div>
	</div>

</div>