<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
		{{volunteers-menu}}
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<div class='row well well-lg'>
			<h3>Volunteered rides</h3>
			<br/>
			
				<div class="row" style="font-weight:bold; border-bottom: 1px solid #ccc; margin-left: 5px;">
	
					<div class='col-md-2' >Date</div>   
					<div class='col-md-2'>Time</div>
					<div class='col-md-2'>Pickup</div>
					<div class='col-md-2'>Dropoff</div>
					<div class='col-md-2'>Status</div>
					<div class='col-md-2'> &nbsp; </div>
				</div>

			{{#each model as |requestedRide| }}		
				{{#if (eq requestedRide.status 'confirmed')}}
					<div class="row" style="border-bottom: solid 1px #ccc; padding-bottom: 5px;">
						<div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
							{{ride-display ride=requestedRide}}
						</div>
						<div class='col-lg-2 col-md-2 col-sm-2 col-xs-2'>
							<div class='customRow' {{action 'cancelRequest' requestedRide on='click'}} style="margin-top:10px;">
								{{input type="button" value="Cancel" class="btn btn-danger btn-sm"}}
							</div>
						</div>
						
						<div class='col-lg-1 col-md-1 col-sm-1 col-xs-1' style="margin-top:10px;">
								{{input type="text" placeholder="Enter Token" value=token style="float: right;" }}
								<div {{action 'completeRide' requestedRide on='click'}}>		
									{{input type="button" value="Verify" class="btn btn-success" }}
								</div>
							
						</div>
						
					</div>
				{{/if}}	
			{{/each}}
		</div>
		
	</div>

</div>