
<div class="row">&nbsp;</div>
<div class="row ">
  <div class="col-sm-4 col-md-4"></div>
  <div class="col-sm-4 col-md-4  well well-lg">
    <form  {{action "login" on="submit"}}>
      <div class="form-group">
        <div class="input-group">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-user"></i>
                    </span>
          {{input type="text" class="input-sm form-control" value=username enter="login" placeholder="Username" autofocus="autofocus" }}
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-lock"></i>
                    </span>
          {{input type="text" class="input-sm form-control" value=password enter="login" placeholder="Password" type="password"}}
        </div>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in">
      </div>
    </form>
    Need an account? {{#link-to "register"}}Register Now.{{/link-to}}
    {{#if responseMessage}}
      <div class="alert alert-success">
        {{responseMessage}}
      </div>
    {{/if}}
  </div>
  <div class="col-sm-4 col-md-4"></div>

</div>






{{outlet}}